/*cabeçalho*/

.header_section {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 8px
}

.header__container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__container img {
    width: 50px;
    object-fit: cover;
    z-index: 1;
}

.header__links {
    list-style: none;
    display: flex;
    align-items: center; 
}

.header__links__item {
    margin-right: 20px;
}

.header_buttons:hover,
.button_entrar:hover {
    text-decoration: underline;
}

.header_buttons {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0;
}

.button_entrar {
    border: 3px solid #fff;
}
