@use 'body';
@use 'header';
@use 'trailer';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;

}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 700;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}